<div class="panel panel-default" ng-init="initAdd()">
    <div class="panel-heading">
        <h3 class="panel-title">Add component</h3>
    </div>
    <div class="panel-body">
        <form class="col-md-offset-3 col-md-6 addForm" ng-submit="add()">
            <div class="form-group mainSelect">
                <label for="componentKindSelect">Component Type :</label>
                <div>
                    <ol class="nya-bs-select max-width" id="componentKindSelect" ng-model="component.type">
                        <li class="nya-bs-option" data-value="Temperature"><a>Temperature</a></li>
                        <li class="nya-bs-option" data-value="Humidity"><a>Humidity</a></li>
                        <li class="nya-bs-option" data-value="Pressure"><a>Pressure</a></li>
                        <li class="nya-bs-option" data-value="Binary Switch"><a>Binary Switch</a></li>
                    </ol>
                </div>
            </div>

            <div class="form-group component name hidden">
                <label for="componentName">Component Name :</label>
                <input class="form-control" id="componentName" ng-model='component.name'></input>
            </div>
            <div class="form-group component valueRange hidden">
                <label for="componentValueRange">Value Range :</label>
                <div class="text-center">
                    <slider ng-model='component.range' class="form-control" id="componentValueRange"></slider>
                    <button id="valueRangeUnit" class="btn btn-sm btn-primary disabled inputLabel"></button>
                </div>
            </div>
            <div class="form-group component resolution hidden">
                <label for="componentResolution">Resolution :</label>
                <div class="text-center">
                    <slider ng-model='component.resolution' class="form-control" id="componentResolution"></slider>
                    <button id="valueRangeUnit" class="btn btn-sm btn-primary disabled inputLabel invisible"></button>
                </div>
            </div>
            <div class="form-group component desiredValue hidden">
                <label for="componentDesiredValue">Desired Value :</label>
                <div class="text-center">
                    <slider ng-model='component.desired' class="form-control" id="componentDesiredValue"></slider>
                    <button id="desiredValueUnit" class="btn btn-sm btn-primary disabled inputLabel"></button>
                </div>
                <div class="form-check text-center">
                    <label class="form-check-label">
                      <input ng-model="component.regulation" id="componentDesiredValueActive" class="form-check-input" type="checkbox" value="">
                        Activate Regulation
                    </label>
                </div>
            </div>
            <div class="form-group component icons hidden">
                <label>Icon :</label>
                <div class="text-center">
                    <label ng-repeat="eachIcon in icons" class="radio-inline"><input type="radio" name="optradio" ng-model="component.icon" ng-value="{{eachIcon}}"><img ng-src="{{eachIcon.link}}" alt="" height="42" width="42"></label>
                </div>
            </div>

            <div class="form-group component text-center hidden">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
            <div class="form-group component text-center hidden">
                <p id="finalMessage"></p>
            </div>
        </form>
    </div>
</div>