<div class="panel panel-default" ng-init="initChart()">
    <div class="panel-heading">
        <h3 class="panel-title">{{'Chart for component - "' + component.name + '"'}}</h3>
    </div>
    <div class="panel-body">
        <div class="form-group component text-center valueRange">
            <label for="chartRange">Chart Range :</label>
            <slider ng-model='chart.range' class="form-control" id="chartRange"></slider>
        </div>
        <form ng-submit="load()">
            <canvas id="lineChart" class="chart-line" chart-data="yAxisData.current" chart-labels="xAxisData.current" chart-height="700"></canvas>
            <div class="form-group button text-center">
                <button type="submit" class="btn btn-primary">Reload</button>
            </div>
        </form>
    </div>
</div>