<div class="panel panel-default" ng-init="checkIfLogged()">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome Page</h3>
    </div>
    <div class="panel-body">
        <h2 class="text-center">Welcome to Intelligent Building Website!</h2>
        <br>
        <p class="text-center">Using this website will provide you control over your household components.</p>
        <p class="text-center">In order to use website, please register a new account or log into existing one through the navigation panel above.</p>
        <br>
        <h4 class="text-center">Thank you in advance</h2>
    </div>
</div>