doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    body
      h1 Hello, #{username}
      br
      p Thank you for registering on my website.
        br
        | In order to authenticate your email please visit link below :
        br
        br
        p= url
        br
        br
        | If you did not register on my website, please ignore this email.
        br
      p Best regards,
        br
        | Intelligent Building