.hidden {
    display: none;
}

.slider-selection {
    background: #BABABA;
}

button.inputLabel.disabled.btn-sm {
    margin-left: 30px;
    color: white;
}

.max-width {
    width: 100% !important;
}

.slider.slider-horizontal {
    width: 80% !important;
}

.inivisible {
    visibility: hidden;
}